<!DOCTYPE html>
<html>
  <head>

    <link rel="icon"
      type="image/png"
      href="<%=image_url("favicon-petLove.png")%>">

    <title>petLo<3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lemon|Roboto|Roboto:100|Lato:100" rel="stylesheet">
    <script src="https://use.fontawesome.com/c3ae742dde.js"></script>

  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
